@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-color: #e9f7ec;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.table-container {
    border: 2px solid #b7bdb9;
    border-radius: 5px;
    border-collapse: collapse;
}

.header {
    background-color: #f2bc85;
    font-family: "Roboto";
    text-align: center;
    font-size: 16px;

}

.table-data {
    text-align: center;
    font-size: 14px;
    font-family: "Roboto";
    padding: 10px;
    border: 1px solid #606361;
}

.table-header-cell {
    padding: 10px;
    border: 1px solid #606361;
}

.odd-cell-bg-color {
    background-color: #a7ebdd;
}

.even-cell-bg-color {
    background-color: #d5bbf0;
}